# Compiled source #
##################
*.pyc
settings.pyc
__init__.pyc

# Logs #
########
*.log
sender-log

# Certificates #
###############
*.keystore

# Local Configure #
##################
local_settings.py
tests_local.py

# Database #
############
db.sql*
